//Colors

$color-pale: hsl(225, 100%, 94%); //pale blue
$color-bright: hsl(245, 75%, 52%); //bright blue

$color-very-pale: hsl(225, 100%, 98%); //very pale blue
$color-desaturated: hsl(224, 23%, 55%); //desaturated blue
$color-dark: hsl(223, 47%, 23%); //dark blue

//Fonts
$font-primary: "Red Hat Display", sans-serif;
