@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: $font-primary;
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $color-pale;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  .box {
    background-color: #fff;
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0 20px 30px -10px rgba($color-desaturated, 0.5);
    padding: 0 50px;
    margin: 20px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    &__img {
      border-radius: 20px 20px 0 0;
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 900;
      color: $color-dark;
      text-align: center;
      padding: 30px 0 20px 0;
    }
    &__txt {
      color: $color-desaturated;
      text-align: center;
      line-height: 1.5;
      padding: 0 0 20px 0;
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-very-pale;
      border-radius: 10px;
      padding: 20px;
      width: 100%;
      &-details {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        &-title {
          color: $color-dark;
        }
        &-value {
          color: $color-desaturated;
        }
      }
      &-link {
        color: $color-bright;
        font-weight: 700;
        font-size: 0.9rem;
        margin-left: 60px;
        &:hover {
          text-decoration: none;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
    &__btn {
      width: 100%;
      margin: 30px 0;
      padding: 15px;
      border-radius: 10px;
      background-color: $color-bright;
      border: none;
      color: #fff;
      font-weight: 700;
      font-family: $font-primary;
      box-shadow: 0 20px 30px -5px rgba($color-desaturated, 0.5);
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    &__link {
      margin: 20px 0 60px 0;
      font-weight: 700;
      font-family: $font-primary;
      color: $color-desaturated;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        color: $color-dark;
      }
    }
  }
}

.attribution {
  text-align: center;
  font-size: 0.75rem;
  padding: 10px 0;
  a {
    display: inline-block;
    color: $color-desaturated;
    &:hover {
      color: $color-bright;
    }
  }
}

@include tablet {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .main {
    .box {
      width: 320px;
      padding: 0 25px;
      &__img {
        width: 320px;
      }
      &__title {
        font-size: 1.4rem;
        padding: 30px 0 20px 0;
      }
      &__price {
        padding: 15px;
        &-details {
          padding: 0 20px;
          &-title {
            font-size: 0.9rem;
          }
          &-value {
            font-size: 0.9rem;
          }
        }
        &-link {
          font-size: 0.7rem;
          margin-left: 20px;
        }
      }
      &__btn {
        margin-bottom: 20px;
      }
      &__link {
        margin: 10px 0 35px 0;
      }
    }
  }
}
